<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <transmission name="elfin_module_joint1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="elfin_module_joint1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="elfin_module_joint1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="elfin_module_joint2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="elfin_module_joint2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="elfin_module_joint2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
        
</robot>
