<launch>
    <arg name="model" default="module_14"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find elfin_description)/urdf/modules/$(arg model).urdf.xacro'" />
  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
